.navbar {
  .container {
    .navbar-brand {
      padding: 15px 0;
      ul {
        display: flex;
        justify-content: space-around;

        li {
          list-style-type: none;
        }
      }
    }
  }
}
